
body {
  font-family: Roboto, sans-serif;
}

.merch {
  color: blue;
}

.container {
  padding: 0 40px;
  margin-left: 100px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  margin: 25px 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #FFD700;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 35px;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:darkred;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

